<div class="mx-auto md:w-2/3 w-full">
  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-paid-bg dark:bg-paid-bg-dark mb-5 text-paid-fg dark:text-paid-fg-dark font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if warning = flash[:warning] %>
    <p class="py-2 px-3 bg-pending-bg dark:bg-pending-bg-dark mb-5 text-pending-fg dark:text-pending-fg-dark font-medium rounded-lg inline-block" id="warning"><%= warning %></p>
  <% end %>

  <h1 class="font-bold text-4xl text-text-primary dark:text-text-primary-dark">Ingresar</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <%= render InputFieldComponent.new(
      label: "Email",
      name: "email_address",
      type: "email",
      value: params[:email_address],
      error_message: flash[:alert],
      required: true,
      autofocus: true,
      autocomplete: "username",
      placeholder: "tu@email.com"
    ) %>

    <%= render InputFieldComponent.new(
      label: "Contraseña",
      name: "password",
      type: "password",
      required: true,
      autocomplete: "current-password",
      placeholder: "Tu contraseña",
      maxlength: 72
    ) %>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Ingresar", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-primary dark:bg-primary-dark hover:opacity-90 text-primary-foreground dark:text-primary-foreground-dark inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-text-secondary dark:text-text-secondary-dark sm:mt-0">
        <%= link_to "¿Olvidaste tu contraseña?", new_password_path, class: "text-text-secondary dark:text-text-secondary-dark underline hover:no-underline" %>
      </div>
    </div>
  <% end %>
</div>
